
body, html {
    height: 100%;
    margin: 0%;
    display: block;
    
  }
* { 
             padding: 0; 
             margin: 0; 
         }

.layout{
    z-index: 3;
    position:absolute;
    top:40%;
    left:20%;
         
  }
  
  h2{
      color :rgb(152, 139, 62);
      font-family: 'kaushan_scriptregular',serif;
      font-size: 7.2vh;
      display: block;
      
    

  }
  p{
    color :rgb(211, 197, 197);
    font-family: 'kaushan_scriptregular',serif;
    font-size: 3vh;
    margin-left: 5%;
  }
  hr{
    position: relative;;
  }

.container{
  height:500% !important;
  margin:0px !important;
}
.bg-img{
    
    width: 100%;
    min-width: 100%;
    height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    z-index: -1;
      
}


.bgimg-2 {
      background-image: url("../image/2021-black-hole.jpg");
      min-height: 100%;
      z-index: 1;
      }
.bgimg-3 {
   background-image: url("../image/moon-clouds.jpg");
   min-height: 100%; 
   z-index: 1;
   }
.stars, .twinkling {
    display:block;
    top:0; bottom:0;
    left:0; right:0;
    width:100%; height:100%;
    position: absolute;
  }
.stars {
  z-index: 2;
  background: #000 url('../image/stars.jpg');
  position: relative;
  margin: 0;
  height: 100%;
  background-repeat:repeat;
  background-attachment: fixed;
  background-size:contain;
  display:block;

}
.twinkling{
  z-index: 3;
  background:transparent url('../image/twinkling.png');
  animation: move-twink-back 300s linear infinite;
  position: absolute;
  background-attachment: fixed;
  background-repeat: repeat;
}
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

  @media only screen and (max-device-width: 1024px) {
    .bg-img{
      background-attachment: scroll;
    }
  }
  h3,h4,ul{
    color: white;
  }
  .layout1{
    
    z-index: 3;
    position:absolute;
    top:60%;
    left:20%;
  }
 