.flexbox{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    align-content:space-around;
    position: absolute;
    top:0%;
    left:0%;
    z-index: 4;
    padding-left: 50px;


    
}
.flex-item{
    
    border:3px solid #333;
    background-color: blueviolet;
    min-width: 400px;
    margin-bottom: 10px;
    margin-top: 10%;
    margin-left: 5px;
    margin-right: 5px;
}
.flex-item.one{
    min-height: 300px;
   
    

}
.flex-item.two{
    min-height: 300px;
}
.flex-item.three{
    min-height: 300px;
}

.content{
    font-weight: 90;
    letter-spacing: 0.25px;
  }
  .fancy-card{
        background:#eee;
        display:block;
        position: absolute;
        min-height: 300px;
        min-width: 400px;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
        transition: all 250ms ease-in;
        background-size: cover;
        background-position: center center;
        margin-bottom: 30px;
  }
  .fancy-card.one{
      background-color: white;
   }
   .fancy-card .bg-overlay{
       background: rgba(0,0,0,0.25);
       position: absolute;
       top:0px;
       left:0px;
       width: 100%;
       height: 100%;
       transition: all 200ms linear;
  
   }
   .fancy-card .content{
      
      color: #fff;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
      
    }
    .fancy-card .content .primary{
      position: absolute;
      top:30%;
      left:3%;
      text-transform: uppercase;
      width: 80%;
      transition: all 250ms ease-out 200ms;
      opacity: 1;
      transform: translate3d(0px, 0px, 1px);
       margin: 0;
       padding: 0;
  
    }
    .fancy-card .content .secondary{
      position: absolute;
      opacity: 0;
      left: 20px;
      transform: translate3d(0px, 30px, 1px);
      transition: all 200ms linear 0ms;
      padding-left: 35px;
      padding-right: 20px;
    }
    .fancy-card .v-border{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
    }
    .fancy-card .v-border:before,
    .fancy-card .v-border:after{
      width: 0%;
      height: 1px;
      left: 50%;
      transition: all 250ms ease-out;
      background: #fff;
    }
    .fancy-card .v-border:before{
      content: '';
      top: 10%;
      position: absolute;
    }
    .fancy-card .v-border:after{
      content: '';
      bottom: 10%;
      position: absolute;
    }
    
    /*horizontal elements (left & right)*/
    .fancy-card .h-border{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
    }
    .fancy-card .h-border:before,
    .fancy-card .h-border:after{
      height: 0%;
      top: 50%;
      width: 1px;
      transition: all 250ms ease-out;
      background: #fff;
    }
    .fancy-card .h-border:before{
      content: '';
      left: 10%;
      height: 0%;
      position: absolute;
    }
    .fancy-card .h-border:after{
      content: '';
      right: 10%;
      position: absolute;
    }
    
    
    /*hover states for interactivity*/
    .fancy-card:active .v-border:before,
    .fancy-card:active .v-border:after,
    .fancy-card:hover .v-border:before,
    .fancy-card:hover .v-border:after{
      width: 90%;
      left: 5%;
    }
    .fancy-card:active .h-border:before,
    .fancy-card:active .h-border:after,
    .fancy-card:hover .h-border:before,
    .fancy-card:hover .h-border:after{
      height: 90%;
      top: 5%;
    }
    
    /*hovering over card, shadow effect*/
    .fancy-card:active,
    .fancy-card:hover{
      box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.3);
    }
    /*hovering over card, adjust primary element*/
    .fancy-card:active .content .primary,
    .fancy-card:hover .content .primary{
      opacity: 0;
      transform: translate3d(0px, 20px, 1px);
      transition: all 200ms linear 0ms;
    }
    /*hoverijng over card, adjust secondary element*/
    .fancy-card:active .content .secondary,
    .fancy-card:hover .content .secondary{
      opacity: 1;
      transform: translate3d(0px, 0px, 1px);
      transition: all 200ms linear 200ms;
    }
    
    /*hovering over card, adjust background overlay*/
    .fancy-card:active .bg-overlay,
    .fancy-card:hover .bg-overlay{
      background: rgba(0,0,0,0.45);
    }
    
    